In [21]:
# First 10 even numbers
sum = 2
while(sum<21):
    print(sum)
    sum=sum+2

2
4
6
8
10
12
14
16
18
20

In [24]:
# first 10 odd nos
num=1
while(num<21):
    print(num)
    num=num+2

1
3
5
7
9
11
13
15
17
19

In [26]:
# naturals numbers
num=1
while(num<11):
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10

In [28]:
#whole numbers
num=0
while(num<10):
    print(num)
    num=num+1

0
1
2
3
4
5
6
7
8
9

In [29]:
num=1
while(num<11):
    print(num,num*num)
    num=num+1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [31]:
num=10
while(num<301):
    print(num,end= ",")
    num=num+10

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,

In [33]:
num=105
while(num>6):
    print(num,end=" ")
    num=num-7

105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [37]:
num=10
while(num>=1):
    print(num,end=" ")
    num=num-1

10 9 8 7 6 5 4 3 2 1

In [52]:
# Sum of first 10 natural number
sum=1
a=0
while(sum<21):
    a=a+sum
    sum=sum+1
print(a)

210

In [51]:
# Sum of first 10 even  numbers
sum=2
a=0
while(sum<21):
    a=a+sum
    sum=sum+2
print(a)

110

In [57]:
# user define
sum=int(input("Enter any no."))
a=0
while(sum>=1):
    a=a+sum
    sum=sum-2
print(a)

Enter any no. 20

110

In [64]:
#Table of number entered from user
a=int(input("enter no."))
value=1
while(value<=10):
    print(a,"*",value,"=",a*value)
    value=value+1

enter no. 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [75]:
# Print even number between given number
num1=int(input("enter no."))
num2=int(input("enter no."))
if (num1>num2):
    while(num1>num2):
        if (num2 % 2 ==0):
            print(num2,end=" ")
        num2=num2+1
else:
    while(num1<num2):
        if (num1 %2 == 0):
            print(num1,end=" ")
        num1=num1+1

enter no. 1
enter no. 99

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98